/* 全体 */
body {
	background-color: rgb(255, 255, 128); /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header, nav, footer {
	background-color: #ffd670; /* 背景色 */
	background-image: radial-gradient(circle, #ff9770, #ffd670);
	color: #4d2600; /* 文字色 */
	font-size: 20px;
	padding-top: 2px; /* 内側余白(上) */
	padding-bottom: 2px; /* 内側余白(下) */
}
/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: #ffffff;
}
/* ヘッダー内見出し */
header h1 {
	font-size: 20pt;
	margin: 10px auto;
}

/* 仕切り線 */
hr {
	border-top: 2px dashed rgb(128, 0, 0);
}
/* メイン */
main {
	background-color: rgb(255, 255, 128);
	min-height: 50px;
	padding: 20px;
}

table{
	background-color: #ffffff;
  border-collapse:separate;
  border-spacing: 10px;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

table th,table td{
  border-radius: 20px;
  text-align: center;

}

table th{
  background-color: rgb(255, 203, 179);
  color: white;
  border:solid 1px rgb(255, 255, 255);
  width: 30ps;
}

table td{
  background-color: rgb(228, 212, 188);
  border:solid 1px rgb(255, 255, 255);
}

.dish-container {
  background-color: rgb(255,255,128);
  background-image: radial-gradient(circle, #ff9770, #ffd670);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.result table-button{
	margin: 2px;
		padding: 5px 20px;
		background-color: #e5857b;
		color: rgb(0, 0, 0);
		border: none;
		width:150px;
		cursor: pointer;
}

.form-group {
  margin-bottom: 1.5rem;
}




.data button {
  width: 70%;
  padding: 10px;
  background-color: #ff6347;
  border: none;
  border-radius: 30px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}



/* 送信ボタン */
.main button {
  width: 30%;
  padding: 15px;
  background-color: #ff6347;
  border: none;
  border-radius: 50px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}
/* エラーメッセージ */
ul.error {
	color: red;
	list-style: none;
	padding-left: 0;
}



.character {
  width: 150px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 30%;
  padding: 10px 15px;
  border: 2px solid #ff6357;
  border-radius: 25px;
  font-size: 16px;
}

input::placeholder {
  color: #ffb347;
}

input:focus {
  outline: none;
  border-color: #ff6347;
  box-shadow: 0 0 10px rgba(255, 99, 71, 0.5);
  transform: scale(1.05);
}


.memo{
	white-space: pre-wrap;
}


.selectbox-5 {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 auto 32px;

}

.selectbox-5::before,
.selectbox-5::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

.selectbox-5::before {
  display: inline-block;
  right: 0;
  width: 2.8em;
  height: 100%;
  border-radius: 0 3px 3px 0;
  background-color: rgb(255, 128, 128);
}

.selectbox-5::after {
  top: 50%;
  right: 1.4em;
  transform: translate(50%, -50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

.selectbox-5 select {
  appearance: none;
  -webkit-appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: .4em 3.6em .4em .8em;
  border: none;
  border-radius: 100px;
  background-color: #f2f2f2;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
  box-sizing: border-box;
}

.selectbox-5 select:focus {
  outline: 2px solid rgb(255, 255, 128);
}

.field{
	display:flex;
}
.field > div {
  width: 50%; /* 画面を半分ずつに分割 */
  padding: 20px;
  box-sizing: border-box; /* パディングを含めて幅を計算 */
}

