
/* 全体 */
body {
background-color: #ffd670;
background-image: radial-gradient(circle, #ff9770, #ffd670);
font-family: 'Comic Sans MS', cursive, sans-serif;
color: #4d2600;
height: 100vh;
display: flex;
justify-content: center;
align-items: center; /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}

.login-container {
  background-color: #fff2cc;
  padding: 40px;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-left: 60px;
  padding-right:90px;
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header, nav, footer {
	background-color: rgb(255, 255, 128); /* 背景色 */
	color: #ffffff; /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
}
/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: #ffffff;
}
/* ヘッダー内見出し */
header h1 {
	font-size: 20pt;
	margin: 10px auto;
}

/* 仕切り線 */
hr {
	border-top: 2px dashed rgb(64, 0, 0);
}
/* メイン */
main {
	min-height: 50px;
	padding: 20px;
}
/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid rgb(64, 0, 0);
}
/* 表 */

table-container{
	overflow-x: auto;
	white-space: nowrap;
}

table {
 width: 70%;
 margin: 0 auto;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
 border: solid 2px rgb(128, 0, 0);
}
table th {
 padding: 3px;
 background: rgb(179, 102, 102);
 border: solid 1px rgb(128, 0, 0);
 border-bottom: solid 2px rgb(128, 0, 0);
}



table td {
 padding: 3px;
 border-left: solid 1px rgb(128, 0, 0);
}
table tr {
 border-top: dashed 1px rgb(128, 0, 0);
}
/* 送信ボタン */
button {
	width: 100%;
	margin: 2px;
	padding: 15px;
	background-color: #ff6347;
	color: #fff;
	border-radius: 50px 20px;
	border: none;
	font-size: 18px;
	font-weight: bold;
	width:100%;
	cursor: pointer;
}
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
	transform: scale(1.1);
}
/* エラーメッセージ */
ul.error {
	color: red;
	list-style: none;
	padding-left: 0;
}

input {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #ff6357;
  border-radius: 25px;
  font-size: 16px;
}

input::placeholder {
  color: rgb(128, 64, 64);
  text-align: center;
}

input:focus {
  outline: none;
  border-color: #ff6347;
  box-shadow: 0 0 5px rgb(128, 64, 64);
}

.form-group{
	margin-bottom: 15px;
}