<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録内容一覧</title>
<link rel="stylesheet" href="/css/result.css">
</head>
<body>
	<header>
		<h1>登録内容一覧</h1>
	</header>
	<a href="/logout" style="text-align: right;">ログアウト</a>
	</div><br>
	<table>
		<tr>
			<th>日付</th>
			<th>主食</th>
			<th>副菜</th>
			<th>主菜</th>
			<th>牛乳・乳製品</th>
			<th>果物</th>
			<th>メモ</th>
			<th>点数</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each="record:${resultList}">
			<td th:text="${record.recordDate}"></td>
			<td>
				<span th:text="${record.stapleFood}"></span><br>
				<span th:text="${record.stapleFood >= 5 && record.stapleFood <= 7 ? '〇' : '✕'} "></span>
			</td>
			<td>
				<span th:text="${record.sideDish}"></span><br>
				<span th:text="${record.sideDish >= 5 && record.stapleFood <= 6 ? '〇' : '✕'}"></span>
			</td>
			<td>
				<span th:text="${record.mainDish}"></span><br>
				<span th:text="${record.mainDish >= 3 && record.mainDish <= 5 ?'〇' : '✕'}"></span>
			</td>
			<td>
				<span th:text="${record.milkDish}"></span><br>
				<span th:text="${record.milkDish ==2 ? '〇' : '✕'}"></span>
			</td>
			<td>
				<span th:text="${record.fruitCount}"></span><br>
				<span th:text="${record.fruitCount == 2 ? '〇' : '✕'}"></span>
			</td>
			<td class="memo" th:text="${record.detailMemo}"></td>
			<td th:text="${record.achievement}"></td>
			<td style="width: 20%;">
				<form th:action="@{/dishes/{id}/edit(id=${record.id})}" method="get">
				<div class="data"><button type="submit">更新</button></div>
				</form>
			</td><td style="width: 20%;">
				<form th:action="@{/dishes/{id}/delete(id=${record.id})}" method="post" class="deleteForm">
					<div class="data"><button type="submit">削除</button></div>
				</form>
			</td>
			
		</tr>
	</table>
	
	<script>
		const deleteForms = document.querySelectorAll('.deleteForm');

		deleteForms.forEach(function(form) {
			form.addEventListener('submit', function(event) {
				const isConfirmed = confirm('本当に削除しますか？この操作は元に戻せません。');

				if (!isConfirmed) {
					event.preventDefault();
					console.log('削除をキャンセルしました');
				} else {
					console.log('削除を実行します');
				}
			});
		});
	</script>


	<form action="/dishes/add" method="get"><br>
		<div class="main"><button>登録画面へ</button></div><br><br>
	</form>
	<img src="https://www.maff.go.jp/j/balance_guide/img/kihon_syoku.jpg">
</body>
</html>