<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新画面</title>
<link rel="stylesheet" href="/css/edit.css">
</head>
<body>
	<header>
		<h1>更新</h1>
	</header>
	<div style="text-align: right;">
		<a href="/logout">ログアウト</a>
	</div>
	<form th:action="@{/dishes/{id}/edit(id=${result.id})}" method="post">
			<table>
				<tr>
					<th>登録ID</th>
					<td th:text="${result.id}"></td>
				</tr>
				<tr>
					<th>日付</th>
					<td>
						<input type="date" name="recordDate" th:value="${result.recordDate}">
					</td>
				</tr>
			</table>
		<div class="field">	
			<div class="left">
				<lavel for="stapleFood">主食</lavel>
						<div class="selectbox-5">
						<select name="stapleFood" required>
							<option value="" disabled selected>選択してください</option>
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'" th:selected="${i == result.stapleFood}">
							</option>
						</select>
						</div>
						
						<lavel for="sideDish">副菜</lavel>
						<div class="selectbox-5">
						<select name="sideDish" required>
							<option value="" disabled selected>選択してください</option>
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'" th:selected="${i == result.sideDish}">
							</option>
						</select>
						</div>
				
						<lavel for="mainDish">主菜</lavel>
						<div class="selectbox-5">
						<select name="mainDish" required>
							<option value="" disabled selected>選択してください</option>
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'" th:selected="${i == result.mainDish}">
							</option>
						</select>
						</div>
						
						<lavel for="milkDis">牛乳・乳製品</lavel>
						<div class="selectbox-5">
						<select name="milkDish" required>
							<option value="" disabled selected>選択してください</option>
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'" th:selected="${i == result.milkDish}">
							</option>
						</select>
						</div>
					
						<lavel for="fruitCount">果物</lavel>
						<div class="selectbox-5">
						<select name="fruitCount" required>
							<option value="" disabled selected>選択してください</option>
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'" th:selected="${i == result.fruitCount}">
							</option>
						</select>
						</div>
				</div>
				<div class="right">
					<div class="container">
					    <div class="head">
					      <h2>Memo</h2>
					    </div>
					<textarea name="detailMemo" placeholder="メモ" rows="10" cols="35"></textarea>
					</div><br><br>
					<div class="main"><button type="submit">更新</button></div>
				</div>
		</div>	
					
			
				<br>
				
				</form>
				
</body>
</html>