<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>登録</h3>

	<p>
		<div id="rouded-box">
		<p>
			<div style="display:inline-block;background:#fff;padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
			    主食
			</div>
			<select name="stapleFood">
					<option th:each="i:${#numbers.sequence(0,10)}"
					th:value="${i}" th:text="${i}"></option>
				</select>
		</p>
		</div>
		
		<div id="rouded-box">
		<p>
			<div style="display:inline-block;background:#fff;padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
				副菜
			</div>
			<select name="sideDish">
					<option th:each="i:${#numbers.sequence(0,10)}"
					th:value="${i}" th:text="${i}"></option>
				</select>
		</p>
		</div>
			
		<div id="rouded-box">
		<p>
			<div style="display:inline-block;background:#fff;padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
				主菜
			</div>
			<select name="mainDish">
					<option th:each="i:${#numbers.sequence(0,10)}"
					th:value="${i}" th:text="${i}"></option>
				</select>
		</p>
		</div>
			
		<div id="rouded-box">
		<p>
			<div style="display:inline-block;background:#fff;padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
				牛乳・乳製品
			</div>
			<select name="milkDish">
					<option th:each="i:${#numbers.sequence(0,10)}"
					th:value="${i}" th:text="${i}"></option>
				</select>
		</p>
		</div>
		
		<div id="rouded-box">
		<p>
			<div style="display:inline-block;background:#fff;padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
				果物
			</div>
			<select name="fruitCount">
					<option th:each="i:${#numbers.sequence(0,10)}"
					th:value="${i}" th:text="${i}"></option>
				</select>
		</p>
		</div>
		
	</p>
	
</body>
</html>